.bg-white.border-top-2.mt-auto
    .container.page__container.page-section.d-flex.flex-column
        p.text-70.brand.mb-24pt
            img.brand-icon(src='/images/logo.svg' width='30' alt='Luma')
            | #{site_title}
        p.measure-lead-max.text-50.small.mr-8pt
            | Luma is a beautifully crafted user interface for modern Education
            | Platforms, including Courses &amp; Tutorials, Video Lessons, Student
            | and Teacher Dashboard, Curriculum Management, Earnings and
            | Reporting, ERP, HR, CMS, Tasks, Projects, eCommerce and more.
        p.mb-8pt.d-flex
            a.text-70.text-underline.mr-8pt.small(href='') Terms
            a.text-70.text-underline.small(href='') Privacy policy
        p.text-50.small.mt-n1.mb-0
            | Copyright 2019 &copy; All rights reserved.