.bg-white.border-top-2.mt-auto
    .container.page__container.page-section.d-flex.flex-column
        p.text-70.brand.mb-24pt
            img.brand-icon(src='/images/logo.svg' width='30' alt='Luma')
        p.measure-lead-max.text-50.small.mr-8pt= t('footer.text')
        p.mb-8pt.d-flex
            a.text-70.text-underline.mr-8pt.small(href='/terms')= t('title', {ns: 'terms'})
            a.text-70.text-underline.small(href='/privacy')= t('title', {ns: 'privacy'})
        p.text-50.small.mt-n1.mb-0= t('footer.copyright', {year: new Date().getFullYear()})