meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
title #{page_title} - #{t('title', {ns: 'site'})} 
// Prevent the demo from appearing in search engines
meta(name='robots' content='noindex')
//- link(href='https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap' rel='stylesheet')
link(rel='preconnect', href='https://fonts.googleapis.com')
link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap', rel='stylesheet')
// Preloader
link(type='text/css' href='/vendor/spinkit.css' rel='stylesheet')
// Perfect Scrollbar
link(type='text/css' href='/vendor/perfect-scrollbar.css' rel='stylesheet')
// Material Design Icons
link(type='text/css' href='/css/material-icons.css' rel='stylesheet')
// Font Awesome Icons
link(type='text/css' href='/css/fontawesome.css' rel='stylesheet')
// Preloader
link(type='text/css' href='/css/preloader.css' rel='stylesheet')
// App CSS
link(type='text/css' href='/css/app.css' rel='stylesheet')
// Extra CSS
link(type='text/css' href='/css/extra.css' rel='stylesheet')