.d-flex.flex-column.flex-md-row.align-items-center.text-center.text-sm-left
    .flex.d-flex.flex-column.flex-sm-row.align-items-center.mb-24pt.mb-md-0
        .mb-24pt.mb-sm-0.mr-sm-24pt
            h2.mb-0 Dashboard
                ol.breadcrumb.p-0.m-0
                    li.breadcrumb-item
                        a(href='index.html') Home
                    li.breadcrumb-item.active
                        | Dashboard
    .row(role='tablist')
        block header-side