// jQuery
script(src='/vendor/jquery.min.js')
// Bootstrap
script(src='/vendor/popper.min.js')
script(src='/vendor/bootstrap.min.js')
// Perfect Scrollbar
script(src='/vendor/perfect-scrollbar.min.js')
// DOM Factory
script(src='/vendor/dom-factory.js')
// MDK
script(src='/vendor/material-design-kit.js')
// App JS
script(src='/js/app.js')
// Preloader
script(src='/js/preloader.js')