extends layouts/app
include mixins/page-separator
include mixins/form/input-lg
include mixins/form/input
include mixins/form/textarea
include mixins/form/wysiwyg
include mixins/form/upload
include mixins/form/switch

block head 
    link(rel="stylesheet", href="/css/quill.css")

block content
    include templates/modules-list
    .p-32pt.p-lg-64pt
        .row
            .col-md-8
                +page_separator(t('basic', {ns: 'courses'}))
                +input_lg('text', 'title', t('title', {ns: 'courses'}), t('title', {ns: 'courses'}), course.title)
                +textarea('headline', t('headline', {ns: 'courses'}), t('headline', {ns: 'courses'}), course.headline)
                +wysiwyg('description',t('description', {ns: 'courses'}), t('description', {ns: 'courses'}),200, course.description)
                +page_separator(t("modules-section", {ns: "courses"}))
                #modules-parent.mb-24pt
            .col-md-4
                .card
                    .card-header.text-center
                        a.btn.btn-accent(href='#') Save changes
                    .list-group.list-group-flush
                        .list-group-item.d-flex
                            a.flex(href='#')
                                strong Save Draft
                            i.material-icons.text-muted check
                        .list-group-item
                            a.text-danger(href='#')
                                strong Delete Course
                +page_separator("Video")
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(src='https://player.vimeo.com/video/97243285?title=0&byline=0&portrait=0' allowfullscreen='')
                    .card-body
                        label.form-label URL
                        input.form-control(type='text' value='https://player.vimeo.com/video/97243285?title=0&byline=0&portrait=0' placeholder='Enter Video URL')
                        small.form-text.text-muted Enter a valid video URL.
                +page_separator("Options")
                .card
                    .card-body
                        .form-group
                            label.form-label Category
                            select.form-control.custom-select(name='category')
                                option(value='vuejs') VueJs
                                option(value='vuejs') Angular
                                option(value='vuejs') React
                            small.form-text.text-muted Select a category.
                        .form-group
                            label.form-label Price
                            .row
                                .col-md-6
                                    .input-group.form-inline
                                        span.input-group-prepend
                                            span.input-group-text $
                                    input.form-control(type='text' value='24')
                            small.form-text.text-muted The recommended price is between $17 and $24
                        .form-group.mb-0
                            label.form-label(for='select03') Tags
                            select#select03.form-control(data-toggle='select' multiple='')
                                option(selected='') JavaScript
                                option(selected='') Angular
                                option Bootstrap
                                option CSS
                                option HTML
                            small.form-text.text-muted Select one or more tags.
    
block scripts 
    script(src="/vendor/quill.min.js")
    script(src="/js/quill.js")
    script(src="/js/create-course.js")
    
