extends layouts/learny  
include mixins/sortby
include mixins/course-card
include mixins/pagination

block header-side 
    .col-auto
        a.btn.btn-outline-secondary(href='student-my-courses.html') My Courses

block content 
    .page-separator
        .page-separator__text= t('courses-available')
    +sortby(t('courses'), 4, 10)
    .row.card-group-row
        each course in courses
            .col-md-6.col-lg-4.card-group-row__col
                +course_card(course)
    .mb-32pt
        +pagination(10203, 1230, 10)


//- #library-drawer.mdk-drawer.js-mdk-drawer(data-align="end")
//-     .mdk-drawer__content
//-         .sidebar.sidebar-light.sidebar-right.py-16pt(data-perfect-scrollbar data-perfect-scrollbar-wheel-propagation="true")
//-             //- List
//-             .sidebar-heading Category
//-                 ul.sidebar-menu
//-                     .sidebar-menu-item.active
//-                         a.sidebar-menu-button(href="")
//-                             .material-icons.sidebar-menu-icon.sidebar-menu-icon--left code 
//-                             .sidebar-menu-text Web Development 
//-             .sidebar-heading Platform
//-                 .sidebar-block
//-                     .form-group
//-                         .custom-control.custom-checkbox
//-                             input.custom-control-input(type="checkbox" value="" id="checkbox1" checked="")
//-                             label.custom-control-label(for="checkbox1")
                    





block sidebar 
    .page-separator
        .page-separator__text= t('categories')
    #instructor-accordion.accordion.js-accordion.accordion--boxed.mb-24pt
        .accordion__item
            a.accordion__toggle.collapsed(href='#' data-toggle='collapse' data-target='#instructor-accordion-menu' data-parent='#instructor-accordion')
                span.flex My Account
                span.accordion__toggle-icon.material-icons keyboard_arrow_down
            #instructor-accordion-menu.accordion__menu.collapse
                .accordion__menu-link
                    span.icon-holder.icon-holder--small.icon-holder--light.rounded-circle.d-inline-flex.icon--left
                        i.material-icons.icon-16pt school
                        a.flex(href='instructor-dashboard.html') Dashboard