doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Analytics
  // Prevent the demo from appearing in search engines
  meta(name='robots' content='noindex')
  link(href='https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap' rel='stylesheet')
  // Preloader
  link(type='text/css' href='/vendor/spinkit.css' rel='stylesheet')
  // Perfect Scrollbar
  link(type='text/css' href='/vendor/perfect-scrollbar.css' rel='stylesheet')
  // Material Design Icons
  link(type='text/css' href='/css/material-icons.css' rel='stylesheet')
  // Font Awesome Icons
  link(type='text/css' href='/css/fontawesome.css' rel='stylesheet')
  // Preloader
  link(type='text/css' href='/css/preloader.css' rel='stylesheet')
  // App CSS
  link(type='text/css' href='/css/app.css' rel='stylesheet')
.preloader
  .sk-chase
    .sk-chase-dot
    .sk-chase-dot
    .sk-chase-dot
    .sk-chase-dot
    .sk-chase-dot
    .sk-chase-dot
  //
    <div class="sk-bounce">
    <div class="sk-bounce-dot"></div>
    <div class="sk-bounce-dot"></div>
    </div>
  // More spinner examples at https://github.com/tobiasahlin/SpinKit/blob/master/examples.html
// Drawer Layout
.mdk-drawer-layout.js-mdk-drawer-layout(data-push='' data-responsive-width='992px')
  .mdk-drawer-layout__content.page-content
    // Header
    // Navbar
    #default-navbar.navbar.navbar-expand.pr-0.navbar-dark.navbar-dark-pickled-bluewood.navbar-shadow(data-primary='')
      // Navbar Toggler
      button.navbar-toggler.w-auto.mr-16pt.d-block.d-lg-none.rounded-0(type='button' data-toggle='sidebar')
        span.material-icons short_text
      // // END Navbar Toggler
      // Navbar Brand
      a.navbar-brand.mr-16pt.d-lg-none(href='index.html')
        span.avatar.avatar-sm.navbar-brand-icon.mr-0.mr-lg-8pt
          span.avatar-title.rounded.bg-primary
            img.img-fluid(src='/images/illustration/student/128/white.svg' alt='logo')
        span.d-none.d-lg-block Luma
      // // END Navbar Brand
      span.d-none.d-md-flex.align-items-center.mr-16pt
        span.avatar.avatar-sm.mr-12pt
          span.avatar-title.rounded.navbar-avatar
            i.material-icons trending_up
        small.flex.d-flex.flex-column
          strong.navbar-text-100 Earnings
          span.navbar-text-50 &amp;dollar;12.3k
      span.d-none.d-md-flex.align-items-center.mr-16pt
        span.avatar.avatar-sm.mr-12pt
          span.avatar-title.rounded.navbar-avatar
            i.material-icons receipt
        small.flex.d-flex.flex-column
          strong.navbar-text-100 Sales
          span.navbar-text-50 264
      // Navbar Search
      form.search-form.navbar-search.d-none.d-md-flex.mr-16pt(action='index.html')
        button.btn(type='submit')
          i.material-icons search
        input.form-control(type='text' placeholder='Search ...')
      // // END Navbar Search
      .flex
      // Navbar Menu
      .nav.navbar-nav.flex-nowrap.d-flex.mr-16pt
        // Notifications dropdown
        .nav-item.dropdown.dropdown-notifications.dropdown-xs-down-full(data-toggle='tooltip' data-title='Messages' data-placement='bottom' data-boundary='window')
          button.nav-link.btn-flush.dropdown-toggle(type='button' data-toggle='dropdown' data-caret='false')
            i.material-icons.icon-24pt mail_outline
          .dropdown-menu.dropdown-menu-right
            .position-relative(data-perfect-scrollbar='')
              .dropdown-header
                strong Messages
              .list-group.list-group-flush.mb-0
                a.list-group-item.list-group-item-action.unread(href='javascript:void(0);')
                  span.d-flex.align-items-center.mb-1
                    small.text-black-50 5 minutes ago
                    span.ml-auto.unread-indicator.bg-accent
                  span.d-flex
                    span.avatar.avatar-xs.mr-2
                      img.avatar-img.rounded-circle(src='/images/people/110/woman-5.jpg' alt='people')
                    span.flex.d-flex.flex-column
                      strong.text-black-100 Michelle
                      span.text-black-70 Clients loved the new design.
                a.list-group-item.list-group-item-action(href='javascript:void(0);')
                  span.d-flex.align-items-center.mb-1
                    small.text-black-50 5 minutes ago
                  span.d-flex
                    span.avatar.avatar-xs.mr-2
                      img.avatar-img.rounded-circle(src='/images/people/110/woman-5.jpg' alt='people')
                    span.flex.d-flex.flex-column
                      strong.text-black-100 Michelle
                      span.text-black-70 &#x1F525; Superb job..
        // // END Notifications dropdown
        // Notifications dropdown
        .nav-item.ml-16pt.dropdown.dropdown-notifications.dropdown-xs-down-full(data-toggle='tooltip' data-title='Notifications' data-placement='bottom' data-boundary='window')
          button.nav-link.btn-flush.dropdown-toggle(type='button' data-toggle='dropdown' data-caret='false')
            i.material-icons notifications_none
            span.badge.badge-notifications.badge-accent 2
          .dropdown-menu.dropdown-menu-right
            .position-relative(data-perfect-scrollbar='')
              .dropdown-header
                strong System notifications
              .list-group.list-group-flush.mb-0
                a.list-group-item.list-group-item-action.unread(href='javascript:void(0);')
                  span.d-flex.align-items-center.mb-1
                    small.text-black-50 3 minutes ago
                    span.ml-auto.unread-indicator.bg-accent
                  span.d-flex
                    span.avatar.avatar-xs.mr-2
                      span.avatar-title.rounded-circle.bg-light
                        i.material-icons.font-size-16pt.text-accent account_circle
                    span.flex.d-flex.flex-column
                      span.text-black-70 Your profile information has not been synced correctly.
                a.list-group-item.list-group-item-action(href='javascript:void(0);')
                  span.d-flex.align-items-center.mb-1
                    small.text-black-50 5 hours ago
                  span.d-flex
                    span.avatar.avatar-xs.mr-2
                      span.avatar-title.rounded-circle.bg-light
                        i.material-icons.font-size-16pt.text-primary group_add
                    span.flex.d-flex.flex-column
                      strong.text-black-100 Adrian. D
                      span.text-black-70 Wants to join your private group.
                a.list-group-item.list-group-item-action(href='javascript:void(0);')
                  span.d-flex.align-items-center.mb-1
                    small.text-black-50 1 day ago
                  span.d-flex
                    span.avatar.avatar-xs.mr-2
                      span.avatar-title.rounded-circle.bg-light
                        i.material-icons.font-size-16pt.text-warning storage
                    span.flex.d-flex.flex-column
                      span.text-black-70 Your deploy was successful.
        // // END Notifications dropdown
        .nav-item.dropdown
          a.nav-link.d-flex.align-items-center.dropdown-toggle(href='#' data-toggle='dropdown' data-caret='false')
            span.avatar.avatar-sm.mr-8pt2
              span.avatar-title.rounded-circle.bg-primary
                i.material-icons account_box
          .dropdown-menu.dropdown-menu-right
            .dropdown-header
              strong Account
            a.dropdown-item(href='edit-account.html') Edit Account
            a.dropdown-item(href='billing.html') Billing
            a.dropdown-item(href='billing-history.html') Payments
            a.dropdown-item(href='login.html') Logout
      // // END Navbar Menu
    // // END Navbar
    // // END Header
    .pt-32pt
      .container-fluid.page__container.d-flex.flex-column.flex-md-row.align-items-center.text-center.text-sm-left
        .flex.d-flex.flex-column.flex-sm-row.align-items-center.mb-24pt.mb-md-0
          .mb-24pt.mb-sm-0.mr-sm-24pt
            h2.mb-0 Analytics
            ol.breadcrumb.p-0.m-0
              li.breadcrumb-item
                a(href='index.html') Home
              li.breadcrumb-item.active
                | Dashboard
        .row(role='tablist')
          .col-auto
            a.btn.btn-outline-secondary(href='') New Report
    // BEFORE Page Content
    // // END BEFORE Page Content
    // Page Content
    .container-fluid.page__container
      .page-section
        .page-separator
          .page-separator__text Overview
        .row.mb-lg-8pt
          .col-md-6.card-group-row__col
            .card.card-group-row__card
              .card-header.p-0.nav.border-0
                .row.no-gutters.flex(role='tablist')
                  .col-auto
                    .p-card-header.d-flex.align-items-center
                      .h2.mb-0.mr-3 2,412
                      .flex.d-flex.flex-column
                        p.mb-0
                          strong Website Visits
                        small.text-50.d-flex.align-items-center Unique Visitors
                  .col-auto.ml-sm-auto
                    .p-card-header
                      a(href='#')
                        i.material-icons.text-50 more_horiz
              .card-body
                .chart(style='height: 128px;')
                  canvas#viewsChart.chart-canvas.js-update-chart-line.js-update-chart-area(data-chart-points='true' data-chart-line-border-color='primary' data-chart-prefix='$' data-chart-suffix='k')
          .col-md-3.card-group-row__col
            .card.card-group-row__card.card-body(style='position: relative; padding-bottom: calc(80px - 1.25rem); overflow: hidden; z-index: 0;')
              .d-flex
                .flex.mr-3
                  .h2.mb-0 $1,450
                  .d-flex.flex-column
                    p.mb-0
                      strong Product Sales
                    small.text-50 30 transactions
                a(href='#')
                  i.material-icons.text-50 more_horiz
              .chart(style='height: 100px; position: absolute; left: 0; right: 0; bottom: 0;')
                canvas#productsChart.chart-canvas.js-update-chart-line.js-update-chart-area(data-chart-hide-axes='true' data-chart-line-border-color='primary')
          .col-md-3.card-group-row__col
            .card.card-group-row__card
              .card-body
                .d-flex.mb-16pt
                  .flex.mr-3
                    .h2.mb-0 1.24%
                    .d-flex.flex-column
                      p.mb-0
                        strong Conversion Rate
                      small.text-50 out of 5%
                  a(href='#')
                    i.material-icons.text-50 more_horiz
                .progress(style='height: 8px;')
                  .progress-bar.bg-primary(role='progressbar' style='width: 42%;' aria-valuenow='42' aria-valuemin='0' aria-valuemax='100')
              .card-body.d-flex.flex-column.align-items-center.justify-content-center
                div
                  small.text-50 From last week
                  .d-flex.align-items-center
                    i.material-icons.text-primary.mr-4pt trending_up
                    .text-70 12%
        .row.card-group-row.mb-lg-8pt
          .col-md-6.card-group-row__col
            .card.card-group-row__card
              .card-header.p-0.nav
                .row.no-gutters.flex(role='tablist')
                  .col-auto
                    .p-card-header.d-flex.align-items-center
                      .h2.mb-0.mr-3 417
                      .flex
                        p.mb-0
                          strong Orders
                        p.text-50.mb-0.d-flex.align-items-center
                          small This year
                  .col-auto.border-left
                    .p-card-header.d-flex.align-items-center
                      .h2.mb-0.mr-3 $67
                      .flex
                        p.mb-0
                          strong Average
                        p.text-50.mb-0.d-flex.align-items-center
                          small Order Value
                  .col-auto.ml-sm-auto
                    .p-card-header
                      a(href='#')
                        i.material-icons.text-50 more_horiz
              .card-body
                #legend.chart-legend.mt-0.mb-24pt.justify-content-start
                .chart(style='height: 182px;')
                  canvas#earningsChart.chart-canvas.js-update-chart-bar(data-chart-legend='#legend' data-chart-line-background-color='primary,gray' data-chart-prefix='$' data-chart-suffix='k')
                    span(style='font-size: 1rem;')
                      strong Views
                      |  area chart goes here.
          .col-md-6.card-group-row__col
            .card.card-group-row__card
              .card-header.p-0.nav
                .row.no-gutters.flex(role='tablist')
                  .col-auto
                    .p-card-header.d-flex.align-items-center
                      .h2.mb-0.mr-3 103
                      .flex
                        p.mb-0
                          strong Alerts
                        p.text-50.mb-0.d-flex.align-items-center
                          small All categories
                  .col-auto.ml-sm-auto
                    .p-card-header
                      a(href='#')
                        i.material-icons.text-50 more_horiz
              .card-body.d-flex.flex-column
                .alert.alert-soft-warning
                  .d-flex.flex-wrap.align-items-start
                    .mr-8pt
                      i.material-icons error_outline
                    .flex(style='min-width: 180px')
                      small.text-100
                        strong Something&apos;s up!
                        |  There were 98 alerts over your average.
                .d-flex.flex.flex-column.align-items-center.justify-content-center
                  ul.list-unstyled.list-skills.w-100
                    li.mb-8pt
                      .text-50.border-right
                        small Site Offline
                      .flex
                        .progress(style='height: 4px;')
                          .progress-bar.bg-primary(role='progressbar' style='width: 40%;' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100')
                      .text-70
                        small +60
                    li.mb-8pt
                      .text-50.border-right
                        small Total DDoS Attacks
                      .flex
                        .progress(style='height: 4px;')
                          .progress-bar.bg-primary(role='progressbar' style='width: 50%;' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')
                      .text-70
                        small +6
                    li.mb-8pt
                      .text-50.border-right
                        small Attack Mitigations
                      .flex
                        .progress(style='height: 4px;')
                          .progress-bar.bg-primary(role='progressbar' style='width: 60%;' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100')
                      .text-70
                        small +5
                    li.mb-8pt
                      .text-50.border-right
                        small NVRs Offline
                      .flex
                        .progress(style='height: 4px;')
                          .progress-bar.bg-primary(role='progressbar' style='width: 90%;' aria-valuenow='90' aria-valuemin='0' aria-valuemax='100')
                      .text-70
                        small +10
                    li.mb-0
                      .text-50.border-right
                        small Shutdown
                      .flex
                        .progress(style='height: 4px;')
                          .progress-bar.bg-primary(role='progressbar' style='width: 25%;' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                      .text-70
                        small +12
        .row
          .col-lg-8
            .page-separator
              .page-separator__text Projects
            .card.dashboard-area-tabs.mb-lg-0
              .card-header.p-0.nav
                .row.no-gutters(role='tablist')
                  .col-auto
                    a.dashboard-area-tabs__tab.card-body.d-flex.flex-row.align-items-center.justify-content-start.active(href='#' data-toggle='tab' role='tab' aria-selected='true')
                      span.h2.mb-0.mr-3 3
                      span.flex.d-flex.flex-column
                        strong Active
                        small.text-50 Ongoing Projects
                  .col-auto.border-left.border-right
                    a.dashboard-area-tabs__tab.card-body.d-flex.flex-row.align-items-center.justify-content-start(href='#' data-toggle='tab' role='tab' aria-selected='false')
                      span.h2.mb-0.mr-3 2
                      span.flex.d-flex.flex-column
                        strong Archived
                        small.text-50 Past Projects
              .table-responsive(data-toggle='lists' data-lists-sort-by='js-lists-values-date' data-lists-sort-desc='true' data-lists-values='["js-lists-values-lead", "js-lists-values-project", "js-lists-values-status", "js-lists-values-budget", "js-lists-values-date"]')
                table.table.mb-0.thead-border-top-0.table-nowrap
                  thead
                    tr
                      th.pr-0(style='width: 18px;')
                        .custom-control.custom-checkbox
                          input#customCheckAll.custom-control-input.js-toggle-check-all(type='checkbox' data-target='#projects')
                          label.custom-control-label(for='customCheckAll')
                            span.text-hide Toggle all
                      th(style='width: 150px;')
                        a.sort(href='javascript:void(0)' data-sort='js-lists-values-project') Project
                      th
                        a.sort(href='javascript:void(0)' data-sort='js-lists-values-lead') Lead / Team
                      th(style='width: 48px;')
                        a.sort(href='javascript:void(0)' data-sort='js-lists-values-date') Due
                      th(style='width: 24px;')
                  tbody#projects.list
                    tr
                      td.pr-0
                        .custom-control.custom-checkbox
                          input#customCheck1_1.custom-control-input.js-check-selected-row(type='checkbox')
                          label.custom-control-label(for='customCheck1_1')
                            span.text-hide Check
                      td
                        .media.flex-nowrap.align-items-center(style='white-space: nowrap;')
                          .avatar.avatar-sm.mr-8pt
                            span.avatar-title.rounded.bg-primary.text-white SM
                          .media-body
                            .d-flex.flex-column
                              small.js-lists-values-project
                                strong Social Media API
                              small.js-lists-values-location.text-50 Twitter
                      td
                        .media.flex-nowrap.align-items-center(style='white-space: nowrap;')
                          .avatar.avatar-sm.mr-8pt
                            span.avatar-title.rounded-circle BN
                          .media-body
                            .d-flex.align-items-center
                              .flex.d-flex.flex-column
                                p.mb-0
                                  strong.js-lists-values-lead Billy Nunez
                                small.js-lists-values-email.text-50 Quality Assurance
                      td
                        .d-flex.flex-column
                          small.js-lists-values-date
                            strong 19/02/2019
                          small.text-50 18 days
                      td.text-right
                        a.text-50(href='')
                          i.material-icons more_vert
                    tr
                      td.pr-0
                        .custom-control.custom-checkbox
                          input#customCheck1_2.custom-control-input.js-check-selected-row(type='checkbox')
                          label.custom-control-label(for='customCheck1_2')
                            span.text-hide Check
                      td
                        .media.flex-nowrap.align-items-center(style='white-space: nowrap;')
                          .avatar.avatar-sm.mr-8pt
                            span.avatar-title.rounded.bg-accent.text-white PM
                          .media-body
                            .d-flex.flex-column
                              small.js-lists-values-project
                                strong Project Management App
                              small.js-lists-values-location.text-50 Github
                      td
                        .media.flex-nowrap.align-items-center(style='white-space: nowrap;')
                          .avatar.avatar-sm.mr-8pt
                            span.avatar-title.rounded-circle TP
                          .media-body
                            .d-flex.align-items-center
                              .flex.d-flex.flex-column
                                p.mb-0
                                  strong.js-lists-values-lead Tony Parks
                                small.js-lists-values-email.text-50 iOS Development
                      td
                        .d-flex.flex-column
                          small.js-lists-values-date
                            strong 18/02/2019
                          small.text-danger Overdue
                      td.text-right
                        a.text-50(href='')
                          i.material-icons more_vert
                    tr
                      td.pr-0
                        .custom-control.custom-checkbox
                          input#customCheck1_3.custom-control-input.js-check-selected-row(type='checkbox')
                          label.custom-control-label(for='customCheck1_3')
                            span.text-hide Check
                      td
                        .media.flex-nowrap.align-items-center(style='white-space: nowrap;')
                          .avatar.avatar-sm.mr-8pt
                            span.avatar-title.rounded.bg-warning.text-white AD
                          .media-body
                            .d-flex.flex-column
                              small.js-lists-values-project
                                strong Advertising Platform
                              small.js-lists-values-location.text-50 Facebook
                      td
                        .media.flex-nowrap.align-items-center(style='white-space: nowrap;')
                          .avatar.avatar-sm.mr-8pt
                            img.avatar-img.rounded-circle(src='public/images/people/110/guy-1.jpg' alt='Avatar')
                          .media-body
                            .d-flex.align-items-center
                              .flex.d-flex.flex-column
                                p.mb-0
                                  strong.js-lists-values-lead Gilbert Barrett
                                small.js-lists-values-email.text-50 Marketing
                      td
                        .d-flex.flex-column
                          small.js-lists-values-date
                            strong 17/02/2019
                          small.text-50 15 days
                      td.text-right
                        a.text-50(href='')
                          i.material-icons more_vert
                    tr
                      td.pr-0
                        .custom-control.custom-checkbox
                          input#customCheck1_4.custom-control-input.js-check-selected-row(type='checkbox')
                          label.custom-control-label(for='customCheck1_4')
                            span.text-hide Check
                      td
                        .media.flex-nowrap.align-items-center(style='white-space: nowrap;')
                          .avatar.avatar-sm.mr-8pt
                            span.avatar-title.rounded.bg-light.text-black-100 FD
                          .media-body
                            .d-flex.flex-column
                              small.js-lists-values-project
                                strong Frontend Development
                              small.js-lists-values-location.text-50 Trello
                      td
                        .media.flex-nowrap.align-items-center(style='white-space: nowrap;')
                          .avatar.avatar-sm.mr-8pt
                            img.avatar-img.rounded-circle(src='public/images/people/110/guy-2.jpg' alt='Avatar')
                          .media-body
                            .d-flex.align-items-center
                              .flex.d-flex.flex-column
                                p.mb-0
                                  strong.js-lists-values-lead Ollie Wallace
                                small.js-lists-values-email.text-50 Design
                      td
                        .d-flex.flex-column
                          small.js-lists-values-date
                            strong 16/02/2019
                          small.text-50 15 days
                      td.text-right
                        a.text-50(href='')
                          i.material-icons more_vert
                    tr.selected
                      td.pr-0
                        .custom-control.custom-checkbox
                          input#customCheck1_5.custom-control-input.js-check-selected-row(type='checkbox' checked='')
                          label.custom-control-label(for='customCheck1_5')
                            span.text-hide Check
                      td
                        .media.flex-nowrap.align-items-center(style='white-space: nowrap;')
                          .avatar.avatar-sm.mr-8pt
                            span.avatar-title.rounded.bg-light.text-black-100 DU
                          .media-body
                            .d-flex.flex-column
                              small.js-lists-values-project
                                strong Database Upgrade
                              small.js-lists-values-location.text-50 MySQL
                      td
                        .media.flex-nowrap.align-items-center(style='white-space: nowrap;')
                          .avatar.avatar-sm.mr-8pt
                            img.avatar-img.rounded-circle(src='public/images/people/110/guy-3.jpg' alt='Avatar')
                          .media-body
                            .d-flex.align-items-center
                              .flex.d-flex.flex-column
                                p.mb-0
                                  strong.js-lists-values-lead Ricardo Bell
                                small.js-lists-values-email.text-50 Web Development
                      td
                        .d-flex.flex-column
                          small.js-lists-values-date
                            strong 01/12/2018
                          small.text-50 1 day
                      td.text-right
                        a.text-50(href='')
                          i.material-icons more_vert
              .card-footer.p-8pt
                ul.pagination.justify-content-start.pagination-xsm.m-0
                  li.page-item.disabled
                    a.page-link(href='#' aria-label='Previous')
                      span.material-icons(aria-hidden='true') chevron_left
                      span Prev
                  li.page-item
                    a.page-link(href='#' aria-label='Page 1')
                      span 1
                  li.page-item
                    a.page-link(href='#' aria-label='Page 2')
                      span 2
                  li.page-item
                    a.page-link(href='#' aria-label='Next')
                      span Next
                      span.material-icons(aria-hidden='true') chevron_right
              //
                <div class="card-body bordet-top text-right">
                15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons ml-1">arrow_forward</i></a>
                </div>
          .col-lg-4
            .page-separator
              .page-separator__text Tasks
            .card.mb-lg-0
              .card-header.d-flex.align-items-center
                strong.flex Tasks
                div
                  a(href='#') View all
              .progress.rounded-0(style='height: 4px;')
                .progress-bar.bg-accent(role='progressbar' style='width: 40%;' aria-valuenow='40' aria-valuemin='0' aria-valuemax='100')
              .list-group.list-group-flush
                .list-group-item.p-16pt
                  .d-flex
                    .d-flex.flex-column.flex
                      a.mb-8pt(href='#')
                        strong Add Fluid Layout Featuring A Vertical Menu With Icons Only
                      .d-flex.align-items-center.mb-8pt
                        a.mr-4pt(href='')
                          span.indicator-line.rounded.bg-primary
                        a.mr-4pt(href='')
                          span.indicator-line.rounded.bg-accent
                    a(href='#')
                      i.material-icons.text-50 more_horiz
                  .d-flex.align-items-center
                    .flex.d-flex.align-items-center
                      small.text-50.mr-16pt Today
                      i.material-icons.icon-16pt.text-20.mr-4pt link
                      small.text-50 2
                    .d-flex.align-items-center
                      .avatar-group.flex.mr-8pt
                        .avatar.avatar-xs(data-toggle='tooltip' data-placement='top' title='Janell D.')
                          a(href='')
                            img.avatar-img.rounded-circle(src='public/images/256_luke-porter-261779-unsplash.jpg' alt='Avatar')
                        .avatar.avatar-xs(data-toggle='tooltip' data-placement='top' title='Janell D.')
                          a(href='')
                            img.avatar-img.rounded-circle(src='public/images/256_michael-dam-258165-unsplash.jpg' alt='Avatar')
                        .avatar.avatar-xs(data-toggle='tooltip' data-placement='top' title='Janell D.')
                          a(href='')
                            img.avatar-img.rounded-circle(src='public/images/256_rsz_1andy-lee-642320-unsplash.jpg' alt='Avatar')
                      a.rounded-circle.d-flex.align-items-center.border.align-items-center.text-50(style='text-decoration: none;' href='')
                        i.material-icons.icon-16pt.m-1 add
                .list-group-item.p-16pt
                  a.d-block.mb-16pt(href='')
                    img.card-img.card-img-cover(src='public/images/stories/256_rsz_jared-rice-388260-unsplash.jpg' alt='' style='height: 64px;')
                  .d-flex
                    .d-flex.flex-column.flex
                      a.mb-8pt(href='#')
                        strong Add Layout Options
                      .d-flex.align-items-center.mb-8pt
                        a.mr-4pt(href='')
                          span.indicator-line.rounded.bg-primary
                    a(href='#')
                      i.material-icons.text-50 more_horiz
                  .d-flex.align-items-center
                    .flex.d-flex.align-items-center
                      small.text-50.mr-16pt Tomorrow
                    .d-flex.align-items-center
                      .avatar-group.flex.mr-8pt
                        .avatar.avatar-xs(data-toggle='tooltip' data-placement='top' title='Janell D.')
                          a(href='')
                            img.avatar-img.rounded-circle(src='public/images/256_rsz_1andy-lee-642320-unsplash.jpg' alt='Avatar')
                        .avatar.avatar-xs(data-toggle='tooltip' data-placement='top' title='Janell D.')
                          a(href='')
                            img.avatar-img.rounded-circle(src='public/images/256_michael-dam-258165-unsplash.jpg' alt='Avatar')
                        .avatar.avatar-xs(data-toggle='tooltip' data-placement='top' title='Janell D.')
                          a(href='')
                            img.avatar-img.rounded-circle(src='public/images/256_luke-porter-261779-unsplash.jpg' alt='Avatar')
                      a.rounded-circle.d-flex.align-items-center.border.align-items-center.text-50(style='text-decoration: none;' href='')
                        i.material-icons.icon-16pt.m-1 add
    // // END Page Content
    // Footer
    .bg-white.border-top-2.mt-auto
      .container-fluid.page__container.page-section.d-flex.flex-column
        p.text-70.brand.mb-24pt
          img.brand-icon(src='/images/logo/black-70@2x.png' width='30' alt='Luma')
          |  Luma
        p.measure-lead-max.text-50.small.mr-8pt
          | Luma is a beautifully crafted user interface for modern Education Platforms, including Courses &amp; Tutorials, Video Lessons, Student and Teacher Dashboard, Curriculum Management, Earnings and Reporting, ERP, HR, CMS, Tasks, Projects, eCommerce and more.
        p.mb-8pt.d-flex
          a.text-70.text-underline.mr-8pt.small(href='') Terms
          a.text-70.text-underline.small(href='') Privacy policy
        p.text-50.small.mt-n1.mb-0 Copyright 2019 &copy; All rights reserved.
    // // END Footer
  // // END drawer-layout__content
  // Drawer
  #default-drawer.mdk-drawer.js-mdk-drawer
    .mdk-drawer__content
      .sidebar.sidebar-light.sidebar-light-dodger-blue.sidebar-left(data-perfect-scrollbar='')
        // Sidebar Content
        a.sidebar-brand.sidebar-brand-dark.bg-primary-pickled-bluewood(href='index.html')
          // <img class="sidebar-brand-icon" src="/images/illustration/student/128/white.svg" alt="Luma">
          span.avatar.avatar-xl.sidebar-brand-icon.h-auto
            span.avatar-title.rounded.bg-primary
              img.img-fluid(src='/images/illustration/student/128/white.svg' alt='logo')
          span Luma
        .sidebar-heading Applications
        ul.sidebar-menu
          li.sidebar-menu-item
            a.sidebar-menu-button.js-sidebar-collapse(data-toggle='collapse' href='#student_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left school
              |                                     Student
              span.ml-auto.sidebar-menu-toggle-icon
            ul#student_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='index.html')
                  span.sidebar-menu-text Home
              li.sidebar-menu-item
                a.sidebar-menu-button(href='courses.html')
                  span.sidebar-menu-text Browse Courses
              li.sidebar-menu-item
                a.sidebar-menu-button(href='paths.html')
                  span.sidebar-menu-text Browse Paths
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-dashboard.html')
                  span.sidebar-menu-text Student Dashboard
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-my-courses.html')
                  span.sidebar-menu-text My Courses
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-paths.html')
                  span.sidebar-menu-text My Paths
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-path.html')
                  span.sidebar-menu-text Path Details
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-course.html')
                  span.sidebar-menu-text Course Preview
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-lesson.html')
                  span.sidebar-menu-text Lesson Preview
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-take-course.html')
                  span.sidebar-menu-text Take Course
                  span.sidebar-menu-badge.badge.badge-accent.badge-notifications.ml-auto PRO
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-take-lesson.html')
                  span.sidebar-menu-text Take Lesson
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-take-quiz.html')
                  span.sidebar-menu-text Take Quiz
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-quiz-results.html')
                  span.sidebar-menu-text My Quizzes
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-quiz-result-details.html')
                  span.sidebar-menu-text Quiz Result
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-path-assessment.html')
                  span.sidebar-menu-text Skill Assessment
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-path-assessment-result.html')
                  span.sidebar-menu-text Skill Result
          li.sidebar-menu-item
            a.sidebar-menu-button.js-sidebar-collapse(data-toggle='collapse' href='#instructor_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left format_shapes
              |                                     Instructor
              span.ml-auto.sidebar-menu-toggle-icon
            ul#instructor_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='instructor-dashboard.html')
                  span.sidebar-menu-text Instructor Dashboard
              li.sidebar-menu-item
                a.sidebar-menu-button(href='instructor-courses.html')
                  span.sidebar-menu-text Manage Courses
              li.sidebar-menu-item
                a.sidebar-menu-button(href='instructor-quizzes.html')
                  span.sidebar-menu-text Manage Quizzes
              li.sidebar-menu-item
                a.sidebar-menu-button(href='instructor-earnings.html')
                  span.sidebar-menu-text Earnings
              li.sidebar-menu-item
                a.sidebar-menu-button(href='instructor-statement.html')
                  span.sidebar-menu-text Statement
              li.sidebar-menu-item
                a.sidebar-menu-button(href='instructor-edit-course.html')
                  span.sidebar-menu-text Edit Course
              li.sidebar-menu-item
                a.sidebar-menu-button(href='instructor-edit-quiz.html')
                  span.sidebar-menu-text Edit Quiz
          li.sidebar-menu-item
            a.sidebar-menu-button.js-sidebar-collapse(data-toggle='collapse' href='#enterprise_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left donut_large
              |                                     Enterprise
              span.ml-auto.sidebar-menu-toggle-icon
            ul#enterprise_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='erp-dashboard.html')
                  span.sidebar-menu-text ERP Dashboard
              li.sidebar-menu-item
                a.sidebar-menu-button(href='crm-dashboard.html')
                  span.sidebar-menu-text CRM Dashboard
              li.sidebar-menu-item
                a.sidebar-menu-button(href='hr-dashboard.html')
                  span.sidebar-menu-text HR Dashboard
              li.sidebar-menu-item
                a.sidebar-menu-button(href='employees.html')
                  span.sidebar-menu-text Employees
              li.sidebar-menu-item
                a.sidebar-menu-button(href='staff.html')
                  span.sidebar-menu-text Staff
              li.sidebar-menu-item
                a.sidebar-menu-button(href='leaves.html')
                  span.sidebar-menu-text Leaves
              li.sidebar-menu-item
                a.sidebar-menu-button.disabled(href='departments.html')
                  span.sidebar-menu-text Departments
              //
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="documents.html">
                <span class="sidebar-menu-text">Documents</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="attendance.html">
                <span class="sidebar-menu-text">Attendance</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="recruitment.html">
                <span class="sidebar-menu-text">Recruitment</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="payroll.html">
                <span class="sidebar-menu-text">Payroll</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="training.html">
                <span class="sidebar-menu-text">Training</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="employee-profile.html">
                <span class="sidebar-menu-text">Employee Profile</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="accounting.html">
                <span class="sidebar-menu-text">Accounting</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="inventory.html">
                <span class="sidebar-menu-text">Inventory</span>
                </a>
                </li>
          li.sidebar-menu-item
            a.sidebar-menu-button(data-toggle='collapse' href='#productivity_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left access_time
              |                                     Productivity
              span.ml-auto.sidebar-menu-toggle-icon
            ul#productivity_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='projects.html')
                  span.sidebar-menu-text Projects
              li.sidebar-menu-item
                a.sidebar-menu-button(href='tasks-board.html')
                  span.sidebar-menu-text Tasks Board
              li.sidebar-menu-item
                a.sidebar-menu-button(href='tasks-list.html')
                  span.sidebar-menu-text Tasks List
              li.sidebar-menu-item
                a.sidebar-menu-button.disabled(href='kanban.html')
                  span.sidebar-menu-text Kanban
              //
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="task-details.html">
                <span class="sidebar-menu-text">Task Details</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="team-members.html">
                <span class="sidebar-menu-text">Team Members</span>
                </a>
                </li>
          li.sidebar-menu-item
            a.sidebar-menu-button(data-toggle='collapse' href='#ecommerce_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left shopping_cart
              |                                     eCommerce
              span.ml-auto.sidebar-menu-toggle-icon
            ul#ecommerce_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ecommerce.html')
                  span.sidebar-menu-text Shop Dashboard
              li.sidebar-menu-item
                a.sidebar-menu-button.disabled(href='edit-product.html')
                  span.sidebar-menu-text Edit Product
          li.sidebar-menu-item
            a.sidebar-menu-button(data-toggle='collapse' href='#messaging_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left message
              |                                     Messaging
              span.sidebar-menu-badge.badge.badge-accent.badge-notifications.ml-auto 2
              span.sidebar-menu-toggle-icon
            ul#messaging_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='messages.html')
                  span.sidebar-menu-text Messages
              li.sidebar-menu-item
                a.sidebar-menu-button(href='email.html')
                  span.sidebar-menu-text Email
          li.sidebar-menu-item
            a.sidebar-menu-button(data-toggle='collapse' href='#cms_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left content_copy
              |                                     CMS
              span.ml-auto.sidebar-menu-toggle-icon
            ul#cms_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='cms-dashboard.html')
                  span.sidebar-menu-text CMS Dashboard
              li.sidebar-menu-item
                a.sidebar-menu-button(href='posts.html')
                  span.sidebar-menu-text Posts
          li.sidebar-menu-item
            a.sidebar-menu-button(data-toggle='collapse' href='#account_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left account_box
              |                                     Account
              span.ml-auto.sidebar-menu-toggle-icon
            ul#account_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='pricing.html')
                  span.sidebar-menu-text Pricing
              li.sidebar-menu-item
                a.sidebar-menu-button(href='login.html')
                  span.sidebar-menu-text Login
              li.sidebar-menu-item
                a.sidebar-menu-button(href='signup.html')
                  span.sidebar-menu-text Signup
              li.sidebar-menu-item
                a.sidebar-menu-button(href='signup-payment.html')
                  span.sidebar-menu-text Payment
              li.sidebar-menu-item
                a.sidebar-menu-button(href='reset-password.html')
                  span.sidebar-menu-text Reset Password
              li.sidebar-menu-item
                a.sidebar-menu-button(href='change-password.html')
                  span.sidebar-menu-text Change Password
              li.sidebar-menu-item
                a.sidebar-menu-button(href='edit-account.html')
                  span.sidebar-menu-text Edit Account
              li.sidebar-menu-item
                a.sidebar-menu-button(href='edit-account-profile.html')
                  span.sidebar-menu-text Profile &amp; Privacy
              li.sidebar-menu-item
                a.sidebar-menu-button(href='edit-account-notifications.html')
                  span.sidebar-menu-text Email Notifications
              li.sidebar-menu-item
                a.sidebar-menu-button(href='edit-account-password.html')
                  span.sidebar-menu-text Account Password
              li.sidebar-menu-item
                a.sidebar-menu-button(href='billing.html')
                  span.sidebar-menu-text Subscription
              li.sidebar-menu-item
                a.sidebar-menu-button(href='billing-upgrade.html')
                  span.sidebar-menu-text Upgrade Account
              li.sidebar-menu-item
                a.sidebar-menu-button(href='billing-payment.html')
                  span.sidebar-menu-text Payment Information
              li.sidebar-menu-item
                a.sidebar-menu-button(href='billing-history.html')
                  span.sidebar-menu-text Payment History
              li.sidebar-menu-item
                a.sidebar-menu-button(href='billing-invoice.html')
                  span.sidebar-menu-text Invoice
          li.sidebar-menu-item
            a.sidebar-menu-button(data-toggle='collapse' href='#community_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left people_outline
              |                                     Community
              span.ml-auto.sidebar-menu-toggle-icon
            ul#community_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='teachers.html')
                  span.sidebar-menu-text Browse Teachers
              li.sidebar-menu-item
                a.sidebar-menu-button(href='student-profile.html')
                  span.sidebar-menu-text Student Profile
              li.sidebar-menu-item
                a.sidebar-menu-button(href='teacher-profile.html')
                  span.sidebar-menu-text Teacher Profile
              li.sidebar-menu-item
                a.sidebar-menu-button(href='blog.html')
                  span.sidebar-menu-text Blog
              li.sidebar-menu-item
                a.sidebar-menu-button(href='blog-post.html')
                  span.sidebar-menu-text Blog Post
              li.sidebar-menu-item
                a.sidebar-menu-button(href='faq.html')
                  span.sidebar-menu-text FAQ
              li.sidebar-menu-item
                a.sidebar-menu-button(href='help-center.html')
                  // 
                  span.sidebar-menu-text Help Center
              li.sidebar-menu-item
                a.sidebar-menu-button(href='discussions.html')
                  span.sidebar-menu-text Discussions
              li.sidebar-menu-item
                a.sidebar-menu-button(href='discussion.html')
                  span.sidebar-menu-text Discussion Details
              li.sidebar-menu-item
                a.sidebar-menu-button(href='discussions-ask.html')
                  span.sidebar-menu-text Ask Question
        .sidebar-heading UI
        ul.sidebar-menu
          li.sidebar-menu-item
            a.sidebar-menu-button(data-toggle='collapse' href='#components_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left tune
              |                                     Components
              span.ml-auto.sidebar-menu-toggle-icon
            ul#components_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-buttons.html')
                  span.sidebar-menu-text Buttons
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-avatars.html')
                  span.sidebar-menu-text Avatars
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-forms.html')
                  span.sidebar-menu-text Forms
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-loaders.html')
                  span.sidebar-menu-text Loaders
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-tables.html')
                  span.sidebar-menu-text Tables
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-cards.html')
                  span.sidebar-menu-text Cards
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-icons.html')
                  span.sidebar-menu-text Icons
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-tabs.html')
                  span.sidebar-menu-text Tabs
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-alerts.html')
                  span.sidebar-menu-text Alerts
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-badges.html')
                  span.sidebar-menu-text Badges
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-progress.html')
                  span.sidebar-menu-text Progress
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-pagination.html')
                  span.sidebar-menu-text Pagination
              //
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="ui-typography.html">
                <span class="sidebar-menu-text">Typography</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="ui-colors.html">
                <span class="sidebar-menu-text">Colors</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="ui-breadcrumb.html">
                <span class="sidebar-menu-text">Breadcrumb</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="ui-accordions.html">
                <span class="sidebar-menu-text">Accordions</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="ui-modals.html">
                <span class="sidebar-menu-text">Modals</span>
                </a>
                </li>
                <li class="sidebar-menu-item">
                <a class="sidebar-menu-button disabled" href="ui-chips.html">
                <span class="sidebar-menu-text">Chips</span>
                </a>
                </li>
              li.sidebar-menu-item
                a.sidebar-menu-button.disabled(href='')
                  span.sidebar-menu-text Disabled
          li.sidebar-menu-item
            a.sidebar-menu-button(data-toggle='collapse' href='#plugins_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left folder
              |                                     Plugins
              span.ml-auto.sidebar-menu-toggle-icon
            ul#plugins_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-charts.html')
                  span.sidebar-menu-text Charts
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-flatpickr.html')
                  span.sidebar-menu-text Flatpickr
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-daterangepicker.html')
                  span.sidebar-menu-text Date Range Picker
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-dragula.html')
                  span.sidebar-menu-text Dragula
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-dropzone.html')
                  span.sidebar-menu-text Dropzone
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-range-sliders.html')
                  span.sidebar-menu-text Range Sliders
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-quill.html')
                  span.sidebar-menu-text Quill
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-select2.html')
                  span.sidebar-menu-text Select2
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-nestable.html')
                  span.sidebar-menu-text Nestable
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-fancytree.html')
                  span.sidebar-menu-text Fancy Tree
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-maps-vector.html')
                  span.sidebar-menu-text Vector Maps
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-sweet-alert.html')
                  span.sidebar-menu-text Sweet Alert
              li.sidebar-menu-item
                a.sidebar-menu-button(href='ui-plugin-toastr.html')
                  span.sidebar-menu-text Toastr
              li.sidebar-menu-item
                a.sidebar-menu-button.disabled(href='')
                  span.sidebar-menu-text Disabled
          li.sidebar-menu-item
            a.sidebar-menu-button(data-toggle='collapse' href='#layouts_menu')
              span.material-icons.sidebar-menu-icon.sidebar-menu-icon--left view_compact
              |                                     Layouts
              span.ml-auto.sidebar-menu-toggle-icon
            ul#layouts_menu.sidebar-submenu.collapse.sm-indent
              li.sidebar-menu-item
                a.sidebar-menu-button(href='../Compact_App_Layout/analytics.html')
                  span.sidebar-menu-text Compact
              li.sidebar-menu-item
                a.sidebar-menu-button(href='../Mini_App_Layout/analytics.html')
                  span.sidebar-menu-text Mini
              li.sidebar-menu-item
                a.sidebar-menu-button(href='../Mini_Secondary_Layout/analytics.html')
                  span.sidebar-menu-text Mini + Secondary
              li.sidebar-menu-item
                a.sidebar-menu-button(href='../App_Layout/analytics.html')
                  span.sidebar-menu-text App
              li.sidebar-menu-item.active
                a.sidebar-menu-button(href='../Boxed_App_Layout/analytics.html')
                  span.sidebar-menu-text Boxed
              li.sidebar-menu-item
                a.sidebar-menu-button(href='../Sticky_App_Layout/analytics.html')
                  span.sidebar-menu-text Sticky
              li.sidebar-menu-item
                a.sidebar-menu-button(href='../Fixed_Layout/analytics.html')
                  span.sidebar-menu-text Fixed
        // // END Sidebar Content
  // // END Drawer
// // END Drawer Layout
// jQuery
script(src='/vendor/jquery.min.js')
// Bootstrap
script(src='/vendor/popper.min.js')
script(src='/vendor/bootstrap.min.js')
// Perfect Scrollbar
script(src='/vendor/perfect-scrollbar.min.js')
// DOM Factory
script(src='/vendor/dom-factory.js')
// MDK
script(src='/vendor/material-design-kit.js')
// App JS
script(src='/js/app.js')
// Preloader
script(src='/js/preloader.js')
// Global Settings
script(src='/js/settings.js')
// Moment.js
script(src='/vendor/moment.min.js')
script(src='/vendor/moment-range.js')
// Chart.js
script(src='/vendor/Chart.min.js')
script(src='/js/chartjs.js')
script(src='/js/chartjs-rounded-bar.js')
// Chart.js Samples
script(src='/js/page.analytics-2-dashboard.js')
// List.js
script(src='/vendor/list.min.js')
script(src='/js/list.js')
// Tables
script(src='/js/toggle-check-all.js')
script(src='/js/check-selected-row.js')
