extends layouts/fullwidth  
include mixins/interactive-course-card
include mixins/category-card
include mixins/course-card
include mixins/page-separator
include mixins/page-headline
include mixins/feature-card
include mixins/feedback-card

block content 
    include includes/hero
    //- features
    .border-bottom-2.py-16pt.navbar-light.bg-white.border-bottom-2
        .container.page__container
            .row.align-items-center
                +feature_card(t('features.card1.headline', {ns: 'home'}), t('features.card1.lead', {ns: 'home'}), t('features.card1.icon', {ns: 'home'}))
                +feature_card(t('features.card2.headline', {ns: 'home'}), t('features.card2.lead', {ns: 'home'}), t('features.card2.icon', {ns: 'home'}))
                +feature_card(t('features.card3.headline', {ns: 'home'}), t('features.card3.lead', {ns: 'home'}), t('features.card3.icon', {ns: 'home'}))

    //- interactive courses
    .page-section.border-bottom-2
        .container.page__container
            +page_separator(t('interactive-courses.headline', {ns: 'home'}))
            .row.card-group-row
                //- card 
                each course in interactive_courses 
                    .col-md-6.col-lg-4.card-group-row__col
                        +interactive_course_card(course)
                    
    //- Popular Categories
    .page-section.border-bottom-2
        .container.page__container
            +page_separator(t('categories.headline', {ns: 'home'}))
            .row.card-group-row
                each category in categories 
                    .col-sm-4.card-group-row__col
                        +category_card(category)

    .page-section.border-bottom-2 
        .container.page__container 
            +page_separator(t('recorded-courses.headline', {ns: 'home'}))
            .row.card-group-row 
                each course in courses
                    .col-md-6.col-lg-4.col-xl-3.card-group-row__col
                        +course_card(course)
                        
    .page-section
        .container.page__container
            +page_headline(t('feedbacks.headline', {ns: 'home'}), t('feedbacks.lead', {ns: 'home'}))
            .position-relative.carousel-card.p-0.mx-auto
                #carousel-feedback.row.d-block.js-mdk-carousel
                    a.carousel-control-next.js-mdk-carousel-control.mt-n24pt(href="#carousel-feedback" role="button" data-slide="next")
                        span.carousel-control-icon.material-icons(aria-hidden="true") keyboard_arrow_right
                        span.sr-only Next 
                    .mdk-carousel__content
                        each feedback in feedbacks
                            .col-12.col-md-6
                                +feedback_card(feedback)
                        