template#answer-template
    .answer
        .d-flex.align-items-center.py-8pt.px-4pt.border-bottom
            .custom-control.custom-radio
                input.custom-control-input(type="radio", id="idmustbechanged" name="namemustbechanged", value="answer-number")
            input.answer-statement.form-control.form-control-flush(type='text', placeholder=t('answer-statement-placeholder', {ns: 'courses'}))
            .flex
            button.delete-answer-btn.btn.btn-sm.text-danger.btn-link
                i.material-icons.icon-16pt delete