template#lecture-template
    .lecture
        .d-flex.align-items-center.py-8pt.px-4pt.border-bottom
            i.material-icons.text-70.icon-4pt.drag-handle.mr-4pt drag_handle
            button.btn.btn-link.edit-lecture-btn.font-weight-bolder.text-100.lesson-title.text-capitalize(data-toggle="modal")
            .flex
            span.type.text-muted.mr-8pt type
            button.delete-lecture-btn.btn.btn-sm.text-danger.btn-link
                i.material-icons.icon-16pt delete