include module
include lecture
include modals/video-lecture-form
include modals/article-lecture-form

template#modules-list-template
    #modules-list
    button#add-module-btn.btn.btn-outline-secondary.mt-24pt.mb-24pt.mb-sm-0= t('add-module', {ns: 'courses'})