template#video-lecture-form
    .modal
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    h2.d-flex.align-items-center
                        i.material-icons.icon-32pt.mr-4pt ondemand_video
                        | #{t('video-form-title', {ns: "courses"})}
                .modal-body
                    .row 
                        .col-md-8
                            +input('text', 'lecture-title', t('lecture-title', {ns: 'courses'}), t('lecture-title', {ns: 'courses'}), '')
                            +textarea('lecture-summary', t('lecture-summary', {ns: 'courses'}))
                            +switch('lecture-locked', t('lecture-locked', {ns: 'courses'}), 'Yes')
                        .col-md-4
                            .card
                                //- .embed-responsive.embed-responsive-16by9
                                //-     iframe.embed-responsive-item(src='' allowfullscreen='false')
                                .card-body
                                    +upload('lecture-id', t('lecture-upload-video', {ns: 'courses'}), t('lecture-upload-video', {ns: 'courses'}))
                                    
                .modal-footer
                    button.btn.btn-secondary.close-form= t('close')
                    button.btn.btn-primary.save-form= t('save')

