mixin category_card(category)
    .card.card-sm.stack.stack--1.card-group-row__card
        .card-body.d-flex.flex-column
            .d-flex.align-items-center
                .flex
                    .d-flex.align-items-center
                        .rounded.mr-12pt.z-0.o-hidden
                            .overlay
                                img(src=category.image width="40" height="40" alt=category.name class="rounded")
                        .flex
                            .card-title= t(category.name, {ns: 'categories'})
                            p.flex.text-50.lh-1.mb-0 
                                small= category.coursesCount