mixin feature_card(headline, lead, icon)
    .d-flex.col-md.align-items-center.border-bottom.border-md-0.mb-16pt.mb-md-0.pb-16pt.pb-md-0
        .rounded-circle.bg-primary.w-64.h-64.d-inline-flex.align-items-center.justify-content-center.mr-16pt
            i.material-icons.text-white=icon
        .flex
            .card-title.mb-4pt= headline
            p.card-subtitle.text-70= lead