mixin feedback_card(feedback)
    .card.card-feedback.card-body
        blockquote.blockquote.mb-0
            p.text-70.small.mb-0= feedback.message
    .media.ml-12pt
        .media-left.mr-12pt
            a.avatar.avatar-sm(href="#")
                span.avatar-title.rounded-circle= feedback.user.country 
        .media-body.media-middle
            a.card-title(href="#")= feedback.user.name
            +stars(feedback.rate)
        