mixin new_message(data)
a.list-group-item.list-group-item-action.unread(href='javascript:void(0);')
    span.d-flex.align-items-center.mb-1
        small.text-black-50 5 minutes ago
        span.ml-auto.unread-indicator.bg-accent
    span.d-flex
        span.avatar.avatar-xs.mr-2
            img.avatar-img.rounded-circle(src='../../public/images/people/110/woman-5.jpg' alt='people')
        span.flex.d-flex.flex-column
            strong.text-black-100 Michelle
            span.text-black-70 Clients loved the new design.