mixin notification(data)
    a.list-group-item.list-group-item-action.unread(href='javascript:void(0);')
        span.d-flex.align-items-center.mb-1
            small.text-black-50 3 minutes ago
            span.ml-auto.unread-indicator.bg-accent
        span.d-flex
            span.avatar.avatar-xs.mr-2
                span.avatar-title.rounded-circle.bg-light
                    i.material-icons.font-size-16pt.text-accent account_circle
            span.flex.d-flex.flex-column
                span.text-black-70 Your profile information has not been synced correctly.