.page-section
    .page-separator
    .page-separator__text Outstanding Payments
    .alert.alert-soft-warning.mb-lg-32pt
    .d-flex.flex-wrap.align-items-center
        .mr-8pt
        i.material-icons access_time
        .flex(style='min-width: 180px')
        small.text-100
            | Please pay your amount due of
            strong $9.00
            |  for invoice 
            a.text-underline(href='billing-invoice.html') 10002331
        a.btn.btn-sm.btn-link(href='billing-payment.html') Pay Now
    .page-separator
    .page-separator__text Payment History
    .card.table-responsive
    table.table.table-flush.table-nowrap
        thead
        tr
            th Invoice no.
            th Date
            th.text-center Amount
            th
        tbody
        tr
            td
            a.text-underline(href='billing-invoice.html') 10002331
            td 26 Sep 2018
            td.text-center $9
            td.text-right
            .d-inline-flex.align-items-center
                a.btn.btn-sm.btn-outline-secondary.mr-16pt(href='billing-invoice.html')
                | View invoice 
                i.icon--right.material-icons keyboard_arrow_right
                a.btn.btn-sm.btn-outline-secondary(href='billing-invoice.html')
                | Download 
                i.icon--right.material-icons file_download
        tr
            td
            a.text-underline(href='billing-invoice.html') 10003815
            td 29 Apr 2018
            td.text-center $9
            td.text-right
            .d-inline-flex.align-items-center
                a.btn.btn-sm.btn-outline-secondary.mr-16pt(href='billing-invoice.html')
                | View invoice 
                i.icon--right.material-icons keyboard_arrow_right
                a.btn.btn-sm.btn-outline-secondary(href='billing-invoice.html')
                | Download 
                i.icon--right.material-icons file_download
        tr
            td
            a.text-underline(href='billing-invoice.html') 10007382
            td 31 Mar 2018
            td.text-center $9
            td.text-right
            .d-inline-flex.align-items-center
                a.btn.btn-sm.btn-outline-secondary.mr-16pt(href='billing-invoice.html')
                | View invoice 
                i.icon--right.material-icons keyboard_arrow_right
                a.btn.btn-sm.btn-outline-secondary(href='billing-invoice.html')
                | Download 
                i.icon--right.material-icons file_download
        tr
            td
            a.text-underline(href='billing-invoice.html') 10004876
            td 30 May 2018
            td.text-center $9
            td.text-right
            .d-inline-flex.align-items-center
                a.btn.btn-sm.btn-outline-secondary.mr-16pt(href='billing-invoice.html')
                | View invoice 
                i.icon--right.material-icons keyboard_arrow_right
                a.btn.btn-sm.btn-outline-secondary(href='billing-invoice.html')
                | Download 
                i.icon--right.material-icons file_download
        tr
            td
            a.text-underline(href='billing-invoice.html') 10009392
            td 30 Apr 2018
            td.text-center $9
            td.text-right
            .d-inline-flex.align-items-center
                a.btn.btn-sm.btn-outline-secondary.mr-16pt(href='billing-invoice.html')
                | View invoice 
                i.icon--right.material-icons keyboard_arrow_right
                a.btn.btn-sm.btn-outline-secondary(href='billing-invoice.html')
                | Download 
                i.icon--right.material-icons file_download