mixin switch(id, label, value)
    .form-group
        .custom-control.custom-checkbox
            input.custom-control-input(id=id, type="checkbox" checked="")
            label.custom-control-label(for=id)= label