mixin select(id, label, options, multiple)
    .form-group
        label.form-label(for=id)
        select.form-control(id=id name=id data-toggle="select")
            each option in options
                option(value=option.value) option.label 