mixin wysiwyg(id, label, placeholder, height, content)
    label.form-label(for=id)= label
    div(data-toggle="quill" data-quill-placeholder=placeholder, style={'height': `${height || 150}px`}) !{content}